* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.header {
  background-color: lightblue;

}

h2 {
  text-align: center;
  user-select: none;
  padding: 20px;
}

.textField {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  user-select: none;
}

.myInput {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border-width: 2px;
  margin-right: 10px;
  transition: 0.5s;
}

.addBtn {
  border: solid gray 2px;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.addBtn:hover {
  background-color: lightgray;
}

.addBtn:active {
  background-color: gray;
  color: white;
}

ul li {
  list-style: none;
  position: relative;
  padding: 12px 8px 12px 40px;
  cursor: pointer;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  user-select: none;
  height: 50px;
}

ul li:nth-child(odd) {
  background: #f9f9f9;  
}

ul li:hover {
  background-color: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

ul li::after {
  position: absolute;
  right: 60px;
  top: 10px;
  content: " ";
  width: 30px;
  height: 30px;
  background-image: url(img/gear.svg);
  background-repeat: no-repeat;
  background-size: 30px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 40px;
  padding-left: 13px;
  padding-top: 3px;
  width: 50px;
  height: 50px;
}

.close:hover {
  background-color: #f44336;
  color: white;
  transition: 0.2s;
}











